<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Reddit with Flask</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s8">
               <div class="section">
                   <h5>{{ post_dict['title'] }}</h5>
                   <p>{{ post_dict['text'] }}</p>
                    <div class="divider"></div>
               </div>
               <div class="section">
                   <p>blabla</p>
                    <div class="divider"></div>
               </div>
            <div class="divider"></div>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Comment something!</label>
                  </div>
                </div>
              </form>
            </div>
            </div>
            <div class="col s3">
                <div class="section">
                    <a href="postdiscussion" class="waves-effect waves-light btn-large">Post something!</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
